body{
    margin:0;
    /* padding-bottom: 50px; */
    background: url(recommendation.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#bar{
    position: fixed;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(3px); 
    z-index: 10;
}
#menu{
    display: flex;
    list-style: none;
    gap: 25px;
}
#bar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#bar #logo{
    font-size: 30px;
    margin-top: 6px;
    margin-left: 10px;
}
#menu li a:hover{
    color: rgb(35, 35, 167);
    font-size: 18px;
    transition-duration: 1s;
}
/* rgba(0, 0, 0, 0.7); */
.recomend{
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(3px); 
    /* background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); */
    padding: 40px;
    margin-top:50px;
    border-radius: 20px;
    width: 500px;
    height: fit-content;
    color: white;
    box-shadow: 0 4px 15px rgba(250, 249, 249, 0.6);
}
.recomend h1{
    text-align: center;
    /* font-size:large; */
    margin-bottom: 10px;
    padding-bottom: 0;
}
.recomend h3{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
    /* font-size: large; */
}
.input{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.input label {
    margin-bottom: 5px;
    font-weight: 700;
}
.input input,.input select,.input textarea {
    padding: 10px;
    border-radius: 6px;
}
/* #00b894 */
/* #generate{
    width: 100%;
    padding: 12px;
    background: rgba(33, 150, 243,.5);
    backdrop-filter: blur(3px);
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
#generate:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(188, 177, 177, 0.516);
    transition: all 0.7s ease-in-out;
} */
#generate {
    background: rgb(33, 150, 243);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(33, 150, 243, 0.4);
    transition: all 0.3s ease;
}
#generate:hover {
  background: rgb(3, 169, 244);
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(3, 169, 244,.4);
}

#generate:active {
  transform: scale(0.96);
}
